.version.horarios /* version checker */
{
	color: #000013;
	background-color: #9EECB9;
}

@font-face
{
	font-family: '__chokoshtroko_5';
	src: url('../fonts/chokoshtroko-webfont.eot');
	src: local('☺'), url('../fonts/chokoshtroko-webfont.woff') format('woff'), url('../fonts/chokoshtroko-webfont.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

#page
{
	width: 100%;
	border-color: #000000;
	margin-right: auto;
	padding-top: 20px;
	z-index: 1;
	border-width: 0px;
	margin-left: auto;
	background: transparent url("../images/31dc03_42eff44a44d3afa84559ecbd206f3bafpng_1024.jpg") no-repeat center center;
	background-size: cover;
}

#u762
{
	z-index: 2;
	margin-right: -10000px;
	position: relative;
}

#u760
{
	z-index: 3;
	width: 100%;
}

#u1161-4
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
}

#u1665
{
	z-index: 14;
	margin-right: -10000px;
	position: relative;
}

#u1679
{
	z-index: 18;
	position: relative;
	margin-right: -10000px;
}

#u1672
{
	z-index: 16;
	position: relative;
	margin-right: -10000px;
}

#u1657
{
	z-index: 12;
	margin-right: -10000px;
	position: relative;
}

#tab-panelu1370
{
	z-index: 20;
	width: 80.94%;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u1384
{
	z-index: 21;
	width: 100%;
	background-color: transparent;
	position: relative;
	border-color: transparent;
	border-width: 0px;
}

#u1389
{
	width: 20.08%;
	position: relative;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	border-radius: 70px;
	z-index: 22;
	margin-right: -10000px;
	min-height: 27px;
	border-width: 1px 0px 1px 1px;
}

#u1391-4
{
	color: #595959;
	letter-spacing: 2px;
	background-color: transparent;
	position: relative;
	border-color: #999999;
	text-align: center;
	margin-right: -10000px;
	font-weight: 500;
	z-index: 23;
	margin-bottom: -1px;
	font-family: '__chokoshtroko_5';
	line-height: 28px;
	min-height: 28px;
	font-size: 20px;
}

#u1393
{
	width: 20.08%;
	position: relative;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	border-radius: 70px;
	z-index: 27;
	margin-right: -10000px;
	min-height: 27px;
	border-width: 1px 0px 1px 1px;
}

#u1389:hover,#u1393:hover
{
	min-height: 27px;
	background-color: #FFFFFF;
	border-style: solid;
	width: 20.08%;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 0px 1px 1px;
}

#u1389.TabbedPanelsTabSelected,#u1393.TabbedPanelsTabSelected
{
	min-height: 27px;
	background-color: #1E339E;
	border-radius: 70px;
	border-style: solid;
	width: 20.08%;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 0px 0px 1px;
}

#u1394-4
{
	color: #595959;
	letter-spacing: 2px;
	background-color: transparent;
	position: relative;
	border-color: #999999;
	text-align: center;
	margin-right: -10000px;
	font-weight: 500;
	z-index: 28;
	margin-bottom: -1px;
	font-family: '__chokoshtroko_5';
	line-height: 28px;
	min-height: 28px;
	font-size: 20px;
}

#u1389.TabbedPanelsTabSelected #u1391-4 p,#u1393.TabbedPanelsTabSelected #u1394-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1385
{
	z-index: 32;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	border-style: solid;
	min-height: 27px;
	margin-right: -10000px;
	border-width: 1px;
	border-radius: 70px;
}

#u1387-4
{
	color: #595959;
	letter-spacing: 2px;
	background-color: transparent;
	position: relative;
	border-color: #999999;
	text-align: center;
	margin-right: -10000px;
	font-weight: 500;
	z-index: 33;
	margin-bottom: -1px;
	font-family: '__chokoshtroko_5';
	line-height: 28px;
	min-height: 28px;
	font-size: 20px;
}

#u1463
{
	z-index: 37;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	border-style: solid;
	min-height: 27px;
	margin-right: -10000px;
	border-width: 1px;
	border-radius: 70px;
}

#u1464-4
{
	color: #595959;
	letter-spacing: 2px;
	background-color: transparent;
	position: relative;
	border-color: #999999;
	text-align: center;
	margin-right: -10000px;
	font-weight: 500;
	z-index: 38;
	margin-bottom: -1px;
	font-family: '__chokoshtroko_5';
	line-height: 28px;
	min-height: 28px;
	font-size: 20px;
}

#u1478
{
	z-index: 42;
	border-color: #999999;
	background-color: #DEDEDE;
	position: relative;
	border-style: solid;
	min-height: 27px;
	margin-right: -10000px;
	border-width: 1px;
	border-radius: 70px;
}

#u1385:hover,#u1463:hover,#u1478:hover
{
	background-color: #FFFFFF;
	border-style: solid;
	min-height: 27px;
	border-width: 1px;
	margin: 0px -10000px 0px 0%;
}

#u1385.TabbedPanelsTabSelected,#u1463.TabbedPanelsTabSelected,#u1478.TabbedPanelsTabSelected
{
	min-height: 27px;
	background-color: #1E339E;
	border-radius: 70px;
	border-style: solid;
	margin: 0px -10000px 0px 0%;
	border-width: 1px 1px 0px;
}

#u1480-4
{
	color: #595959;
	letter-spacing: 2px;
	background-color: transparent;
	position: relative;
	border-color: #999999;
	text-align: center;
	margin-right: -10000px;
	font-weight: 500;
	z-index: 43;
	margin-bottom: -1px;
	font-family: '__chokoshtroko_5';
	line-height: 28px;
	min-height: 28px;
	font-size: 20px;
}

#u1389:hover #u1391-4,#u1393:hover #u1394-4,#u1385:hover #u1387-4,#u1463:hover #u1464-4,#u1478:hover #u1480-4
{
	min-height: 28px;
	padding-top: 0px;
	border-color: #999999;
	padding-bottom: 0px;
	margin: 0px -10000px -1px 0%;
}

#u1389.TabbedPanelsTabSelected #u1391-4,#u1393.TabbedPanelsTabSelected #u1394-4,#u1385.TabbedPanelsTabSelected #u1387-4,#u1463.TabbedPanelsTabSelected #u1464-4,#u1478.TabbedPanelsTabSelected #u1480-4
{
	min-height: 28px;
	padding-top: 0px;
	border-color: transparent;
	padding-bottom: 0px;
	border-width: 0px;
	margin: 0px -10000px -1px 0%;
}

#u1385.TabbedPanelsTabSelected #u1387-4 p,#u1463.TabbedPanelsTabSelected #u1464-4 p,#u1478.TabbedPanelsTabSelected #u1480-4 p
{
	color: #FFFFFF;
	letter-spacing: 2px;
	font-style: normal;
	font-family: '__chokoshtroko_5';
	visibility: inherit;
	font-size: 20px;
	font-weight: 500;
}

#u1371
{
	z-index: 47;
	width: 100%;
	background-color: transparent;
	position: relative;
}

#u1376
{
	z-index: 48;
	width: 100%;
	position: relative;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	border-width: 0px 1px 1px;
}

#u1515
{
	z-index: 49;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1380
{
	z-index: 51;
	width: 100%;
	position: relative;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	border-width: 0px 1px 1px;
}

#u1525
{
	z-index: 52;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1372
{
	z-index: 54;
	width: 100%;
	position: relative;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	border-width: 0px 1px 1px;
}

#u1532
{
	z-index: 55;
	background-color: transparent;
	position: relative;
	width: 100%;
	margin-right: -10000px;
}

#u1475
{
	z-index: 57;
	width: 100%;
	position: relative;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	border-width: 0px 1px 1px;
}

#u1539
{
	z-index: 58;
	background-color: transparent;
	position: relative;
	margin-top: 1px;
	margin-right: -10000px;
}

#u1490
{
	z-index: 60;
	width: 100%;
	position: relative;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	border-width: 0px 1px 1px;
}

#u1546
{
	z-index: 61;
	background-color: transparent;
	position: relative;
	margin-top: 1px;
	margin-right: -10000px;
}

.TabbedPanelsTab
{
	cursor: pointer;
}

#u1556-4
{
	z-index: 8;
	position: relative;
	margin-left: 20px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

#u1515_img,#u1525_img,#u1532_img,#u1539_img,#u1546_img,#u1665_img,#u1679_img,#u1672_img,#u1657_img
{
	width: 100%;
}

@media (min-width: 321px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 562px;
		padding-bottom: 27px;
		max-width: 960px;
	}

	#pu762
	{
		width: 95.42%;
		margin-left: 2.5%;
	}

	#u762
	{
		margin-top: 4px;
		width: 18.78%;
	}

	#u1161-4
	{
		min-height: 29px;
		width: 8.41%;
		left: 91.6%;
	}

	#pu1665
	{
		margin-top: 9px;
		width: 49.38%;
		margin-left: 48.55%;
	}

	#u1665
	{
		margin-top: 8px;
		width: 24.9%;
	}

	#u1679
	{
		margin-top: 8px;
		width: 24.9%;
		left: 24.9%;
	}

	#u1672
	{
		margin-top: 8px;
		width: 25.11%;
		left: 49.79%;
	}

	#u1657
	{
		width: 25.11%;
		left: 74.9%;
	}

	#tab-panelu1370
	{
		margin-top: 50px;
		margin-left: 9.48%;
	}

	#u1391-4
	{
		width: 99.36%;
	}

	#u1389:hover #u1391-4
	{
		width: 99.36%;
	}

	#u1393
	{
		left: 19.95%;
	}

	#u1389.TabbedPanelsTabSelected #u1391-4,#u1394-4
	{
		width: 99.36%;
	}

	#u1393:hover #u1394-4
	{
		width: 99.36%;
	}

	#u1393.TabbedPanelsTabSelected #u1394-4
	{
		width: 99.36%;
	}

	#u1385
	{
		width: 20.08%;
		left: 39.9%;
	}

	#u1385:hover
	{
		width: 20.08%;
	}

	#u1387-4
	{
		width: 98.72%;
	}

	#u1385:hover #u1387-4
	{
		width: 98.72%;
	}

	#u1463
	{
		width: 20.08%;
		left: 59.85%;
	}

	#u1385.TabbedPanelsTabSelected,#u1463:hover
	{
		width: 20.08%;
	}

	#u1463.TabbedPanelsTabSelected
	{
		width: 20.08%;
	}

	#u1385.TabbedPanelsTabSelected #u1387-4,#u1464-4
	{
		width: 98.72%;
	}

	#u1463:hover #u1464-4
	{
		width: 98.72%;
	}

	#u1463.TabbedPanelsTabSelected #u1464-4
	{
		width: 98.72%;
	}

	#u1478
	{
		width: 20.21%;
		left: 79.8%;
	}

	#u1478:hover
	{
		width: 20.21%;
	}

	#u1478.TabbedPanelsTabSelected
	{
		width: 20.21%;
	}

	#u1480-4
	{
		width: 98.73%;
	}

	#u1478:hover #u1480-4
	{
		width: 98.73%;
	}

	#u1478.TabbedPanelsTabSelected #u1480-4
	{
		width: 98.73%;
	}

	#u1515
	{
		width: 99.88%;
		left: 0.13%;
	}

	#u1525
	{
		width: 99.88%;
	}

	#u1532
	{
		left: 0.13%;
	}

	#u1539,#u1546
	{
		margin-bottom: -1px;
		width: 99.88%;
	}

	#u1556-4
	{
		min-height: 14px;
		margin-top: 94px;
		width: 95.84%;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 440px;
		padding-bottom: 20px;
		max-width: 320px;
	}

	#pu762
	{
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u762
	{
		width: 35.72%;
	}

	#u1161-4
	{
		width: 14.65%;
		left: 85.36%;
	}

	#pu1665
	{
		margin-top: 19px;
		width: 82.82%;
		margin-left: 8.44%;
	}

	#u1665
	{
		margin-top: 4px;
		width: 23.4%;
	}

	#u1679
	{
		margin-top: 4px;
		width: 23.4%;
		left: 25.67%;
	}

	#u1672
	{
		margin-top: 4px;
		width: 23.4%;
		left: 50.95%;
	}

	#u1657
	{
		width: 23.4%;
		left: 76.61%;
	}

	#tab-panelu1370
	{
		padding-bottom: 1px;
		margin-top: 97px;
		margin-left: 9.38%;
	}

	#u1391-4
	{
		width: 98.08%;
	}

	#u1389:hover #u1391-4
	{
		width: 98.08%;
	}

	#u1393
	{
		left: 19.7%;
	}

	#u1389.TabbedPanelsTabSelected #u1391-4,#u1394-4
	{
		width: 98.08%;
	}

	#u1393:hover #u1394-4
	{
		width: 98.08%;
	}

	#u1393.TabbedPanelsTabSelected #u1394-4
	{
		width: 98.08%;
	}

	#u1385
	{
		width: 20.47%;
		left: 39.39%;
	}

	#u1385:hover
	{
		width: 20.47%;
	}

	#u1387-4
	{
		width: 96.23%;
	}

	#u1385:hover #u1387-4
	{
		width: 96.23%;
	}

	#u1463
	{
		width: 20.47%;
		left: 59.46%;
	}

	#u1385.TabbedPanelsTabSelected,#u1463:hover
	{
		width: 20.47%;
	}

	#u1385.TabbedPanelsTabSelected #u1387-4,#u1464-4
	{
		width: 96.23%;
	}

	#u1463:hover #u1464-4
	{
		width: 96.23%;
	}

	#u1478
	{
		width: 20.47%;
		left: 79.54%;
	}

	#u1463.TabbedPanelsTabSelected,#u1478:hover
	{
		width: 20.47%;
	}

	#u1478.TabbedPanelsTabSelected
	{
		width: 20.47%;
	}

	#u1463.TabbedPanelsTabSelected #u1464-4,#u1480-4
	{
		width: 96.23%;
	}

	#u1478:hover #u1480-4
	{
		width: 96.23%;
	}

	#u1478.TabbedPanelsTabSelected #u1480-4
	{
		width: 96.23%;
	}

	#u1515,#u1525
	{
		margin-bottom: -1px;
		width: 100%;
		left: 0.39%;
	}

	#u1532
	{
		margin-bottom: -1px;
		left: 0.39%;
	}

	#u1539,#u1546
	{
		margin-bottom: -2px;
		width: 100%;
		left: 0.39%;
	}

	#u1556-4
	{
		min-height: 10px;
		margin-top: 138px;
		width: 87.5%;
	}

	body
	{
		min-width: 320px;
	}

	#u1161-4_img
	{
		width: 100%;
	}
}

