	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 582px;
		padding-bottom: 27px;
		max-width: 960px;
	}

	#u762
	{
		margin-right: -10000px;
		margin-top: 24px;
		width: 17.92%;
		left: 2.5%;
	}

	#u1665
	{
		margin-top: 112px;
		width: 12.3%;
		left: 48.55%;
	}

	#u1679
	{
		margin-top: 112px;
		width: 12.3%;
		left: 60.84%;
	}

	#u1672
	{
		margin-top: 112px;
		width: 12.4%;
		left: 73.13%;
	}

	#pu1161-4
	{
		width: 12.4%;
		margin-left: 85.53%;
	}

	#u1161-4
	{
		min-height: 29px;
		width: 64.71%;
		margin-left: 35.3%;
	}

	#u1657
	{
		margin-top: 54px;
		width: 100%;
	}

	#u1556-4
	{
		min-height: 14px;
		margin-top: 69px;
		width: 95.84%;
	}

	.verticalspacer
	{
		min-height: 348px;
	}

