	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 562px;
		padding-bottom: 27px;
		max-width: 960px;
	}

	#pu762
	{
		width: 95.42%;
		margin-left: 2.5%;
	}

	#u762
	{
		margin-top: 4px;
		width: 18.78%;
	}

	#u1161-4
	{
		min-height: 29px;
		width: 8.41%;
		left: 91.6%;
	}

	#pu1665
	{
		margin-top: 9px;
		width: 49.38%;
		margin-left: 48.55%;
	}

	#u1665
	{
		margin-top: 8px;
		width: 24.9%;
	}

	#u1679
	{
		margin-top: 8px;
		width: 24.9%;
		left: 24.9%;
	}

	#u1672
	{
		margin-top: 8px;
		width: 25.11%;
		left: 49.79%;
	}

	#u1657
	{
		width: 25.11%;
		left: 74.9%;
	}

	#tab-panelu1370
	{
		margin-top: 50px;
		margin-left: 9.48%;
	}

	#u1391-4
	{
		width: 99.36%;
	}

	#u1389:hover #u1391-4
	{
		width: 99.36%;
	}

	#u1393
	{
		left: 19.95%;
	}

	#u1389.TabbedPanelsTabSelected #u1391-4,#u1394-4
	{
		width: 99.36%;
	}

	#u1393:hover #u1394-4
	{
		width: 99.36%;
	}

	#u1393.TabbedPanelsTabSelected #u1394-4
	{
		width: 99.36%;
	}

	#u1385
	{
		width: 20.08%;
		left: 39.9%;
	}

	#u1385:hover
	{
		width: 20.08%;
	}

	#u1387-4
	{
		width: 98.72%;
	}

	#u1385:hover #u1387-4
	{
		width: 98.72%;
	}

	#u1463
	{
		width: 20.08%;
		left: 59.85%;
	}

	#u1385.TabbedPanelsTabSelected,#u1463:hover
	{
		width: 20.08%;
	}

	#u1463.TabbedPanelsTabSelected
	{
		width: 20.08%;
	}

	#u1385.TabbedPanelsTabSelected #u1387-4,#u1464-4
	{
		width: 98.72%;
	}

	#u1463:hover #u1464-4
	{
		width: 98.72%;
	}

	#u1463.TabbedPanelsTabSelected #u1464-4
	{
		width: 98.72%;
	}

	#u1478
	{
		width: 20.21%;
		left: 79.8%;
	}

	#u1478:hover
	{
		width: 20.21%;
	}

	#u1478.TabbedPanelsTabSelected
	{
		width: 20.21%;
	}

	#u1480-4
	{
		width: 98.73%;
	}

	#u1478:hover #u1480-4
	{
		width: 98.73%;
	}

	#u1478.TabbedPanelsTabSelected #u1480-4
	{
		width: 98.73%;
	}

	#u1515
	{
		width: 99.88%;
		left: 0.13%;
	}

	#u1525
	{
		width: 99.88%;
	}

	#u1532
	{
		left: 0.13%;
	}

	#u1539,#u1546
	{
		margin-bottom: -1px;
		width: 99.88%;
	}

	#u1556-4
	{
		min-height: 14px;
		margin-top: 94px;
		width: 95.84%;
	}

